<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Meera Accounting Consultant</title>
  </head>
  <body>
<div class="container p-3  ">
		<a href="#default" class="logo">Meera Accounting Consultant</a>
		<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light justify-content-center" >
			<ul class="nav justify-content-center">
    			<li class="nav-item">
      			<a class="nav-link" href="">Home</a>
   				 </li>
				<li class="nav-item">
				  <a class="nav-link" href="#">Features</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="">About</a>
				</li>
  			</ul>
		</nav>
		</section>
		<section class="banner">
		  <div class="container">
			<div class="row">
			  <div class="col ">
				<p class="promo-title" align="center">Your Digital Business Tracker</p>
				<p class="join-title" align="center">Join Us! We Will Let Grown Your Business Faster</p>
               <!--- <p align="center"><a class="btn btn-primary" href="" name="button" type="button">Get Started</a></p>---->
              </div>

			</div>
		  </div>


		</section>

      <div class="row text-center" >
          <div class="col-md-12" align="center">
            <img src="svg/undraw_website_setup_5hr2.svg" class="service-img"   alt="">
            <h4>Print Your Consaltant Service Invoice</h4>
            <p>Add your Consultant Service Invoice(Bills)
            </p>
              <a href="{{ url_for('add_invoice')}}"type="button" class="btn btn-primary" name="button" align ="left">Get Started</a>
          </div>
  </div>

</div>




  </body>
</html>